@import "tailwindcss";

@layer utilities {
    .animate-in  {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
    }
    .duration-100 {
        animation-duration: 100ms;
    }
}

/* Sliding From The Top Animation */
@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* IDE scrollbar for [Chrome, Safari, Edge] */
pre::-webkit-scrollbar {
  display: none;
}